$basefontsize: 20px;
$backgroundcolor: #ecf5ff;
$opacity: 0.6;
$opacity_bar: 0.7;
$title_bar_color: #ffffb9;

.topbar {
  width: 100%;
  margin-top: 0.5%;
  margin-bottom: 0.1%;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
}
.topbar1 {
  width: 70%;
}
.topbar2 {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.left {
  width: 10%;
  text-align: center;
  margin: 0px;
  font-size: $basefontsize;
  font-weight: bold;
  white-space: nowrap;
}
.item {
  font-size: $basefontsize;
  width: 20%;
  height: 20px;
  text-align: center;
  align-content: center;
  margin: 0px;
  white-space: nowrap;
}
.middlebar {
  background-color: $backgroundcolor;
  margin-top: 0.5%;
  margin-bottom: 20px;
  height: 250px;
  font-size: $basefontsize * 2;
  font-weight: bold;
  text-align: center;
  align-content: center;
}
.imagebar {
  width: 1200px;
  margin: auto;
  // padding-left: 10px;
  // padding-right: 10px;
}

.imagebar_2 {
  // width: 1200px;
  // margin: auto;
  // margin-bottom: 20px;
  display: none;
}

.imagebar_3 {
  // width: 1200px;
  // margin: auto auto 35px auto;
  display: none;
  // display: flex;
  // flex-wrap: wrap;
  // width: 90%;
  // display: none;
}

.promotion1 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.image {
  width: 80px;
  height: 100%;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.word {
  width: 95%;
  height: 100%;
  background-color: $backgroundcolor;
}
.word p {
  font-size: $basefontsize;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  align-content: center;
}
.promotion23 {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
}
.promotion2 {
  width: 66%;
  height: 100%;
  display: flex;
  margin-right: 10px;
}
.image2 {
  width: 80px;
  height: 100%;
  overflow: hidden;
}
.image2 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.word2 {
  width: 90%;
  background-color: $backgroundcolor;
}
.p2 {
  font-size: $basefontsize;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  align-content: center;
}
.promotion3 {
  width: 34%;
  height: 100%;
  display: flex;
  margin-left: 10px;
}
.image3 {
  width: 80px;
  height: 100%;
  overflow: hidden;
}
.image3 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.word3 {
  width: 95%;
  background-color: $backgroundcolor;
}
.p3 {
  font-size: $basefontsize;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  align-content: center;
}
.promotion12 {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
}
.promotion_1 {
  width: 50%;
  height: 100%;
  display: flex;
  margin-right: 10px;
}
.image_1 {
  width: 80px;
  height: 100%;
  overflow: hidden;
}
.image_1 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.word_1 {
  width: 95%;
  height: 100%;
  background-color: $backgroundcolor;
}
.word_1 p {
  font-size: $basefontsize;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  align-content: center;
}
.promotion_2 {
  width: 50%;
  height: 100%;
  display: flex;
  margin-left: 10px;
}
.image_2 {
  width: 80px;
  height: 100%;
  overflow: hidden;
}
.image_2 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.word_2 {
  width: 95%;
  background-color: $backgroundcolor;
}
.promotion_3 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.image_3 {
  width: 73px;
  height: 100%;
  overflow: hidden;
}
.image_3 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.word_3 {
  width: 95%;
  height: 100%;
  background-color: $backgroundcolor;
}
.promotion {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.image_small {
  width: 73px;
  height: 100%;
  overflow: hidden;
}
.image_small img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.word_small {
  width: 95%;
  height: 100%;
  background-color: $backgroundcolor;
}
.word_small p {
  font-size: $basefontsize;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  align-content: center;
}
.title {
  width: 1200px;
  margin: 1px auto 0 auto;
  display: flex;
}
.title.A {
  height: 500px;
  margin-right: 10px;
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.title1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}
.title1::after {
  content: "⭐";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  opacity: $opacity;
  pointer-events: none;
  z-index: 10;
}
.transparent_bar1 {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $title_bar_color;
  opacity: $opacity_bar;
  z-index: 5;
  // font
  display: flex;
  align-items: center;
  justify-content: center;
}
.title1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.title6 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}
.title6::after {
  content: "⭐";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  opacity: $opacity;
  pointer-events: none;
  z-index: 10;
}
.transparent_bar6 {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $title_bar_color;
  opacity: $opacity_bar;
  z-index: 5;
  // font
  display: flex;
  align-items: center;
  justify-content: center;
}
.title6 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.title.B {
  flex: 1 1 0;
  height: 500px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.title2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}
.title2::after {
  content: "⭐";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  opacity: $opacity;
  pointer-events: none;
  z-index: 10;
}
.transparent_bar2 {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $title_bar_color;
  opacity: $opacity_bar;
  z-index: 5;
  // font
  display: flex;
  align-items: center;
  justify-content: center;
}
.title2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title7 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}
.title7::after {
  content: "⭐";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  opacity: $opacity;
  pointer-events: none;
  z-index: 10;
}
.transparent_bar7 {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $title_bar_color;
  opacity: $opacity_bar;
  z-index: 5;
  // font
  display: flex;
  align-items: center;
  justify-content: center;
}
.title7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title.C {
  flex: 1 1 0;
  height: 500px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.title3 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}
.title3::after {
  content: "⭐";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  opacity: $opacity;
  pointer-events: none;
  z-index: 10;
}
.transparent_bar3 {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $title_bar_color;
  opacity: $opacity_bar;
  z-index: 5;
  // font
  display: flex;
  align-items: center;
  justify-content: center;
}
.title3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title8 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}
.title8::after {
  content: "⭐";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  opacity: $opacity;
  pointer-events: none;
  z-index: 10;
}
.transparent_bar8 {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $title_bar_color;
  opacity: $opacity_bar;
  z-index: 5;
  // font
  display: flex;
  align-items: center;
  justify-content: center;
}
.title8 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title.D {
  flex: 1 1 0;
  height: 500px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.title4 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}
.title4::after {
  content: "⭐";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  opacity: $opacity;
  pointer-events: none;
  z-index: 10;
}
.transparent_bar4 {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $title_bar_color;
  opacity: $opacity_bar;
  z-index: 5;
  // font
  display: flex;
  align-items: center;
  justify-content: center;
}
.title4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title9 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}
.title9::after {
  content: "⭐";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  opacity: $opacity;
  pointer-events: none;
  z-index: 10;
}
.transparent_bar9 {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $title_bar_color;
  opacity: $opacity_bar;
  z-index: 5;
  // font
  display: flex;
  align-items: center;
  justify-content: center;
}
.title9 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title.E {
  flex: 1 1 0;
  height: 500px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.title5 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}
.title5::after {
  content: "⭐";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  opacity: $opacity;
  pointer-events: none;
  z-index: 10;
}
.transparent_bar5 {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $title_bar_color;
  opacity: $opacity_bar;
  z-index: 5;
  // font
  display: flex;
  align-items: center;
  justify-content: center;
}
.title5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title10 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}
.title10::after {
  content: "⭐";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  opacity: $opacity;
  pointer-events: none;
  z-index: 10;
}
.transparent_bar10 {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $title_bar_color;
  opacity: $opacity_bar;
  z-index: 5;
  // font
  display: flex;
  align-items: center;
  justify-content: center;
}
.title10 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title_second {
  // width: 90%;
  // max-width: 1200px;
  // margin: 30px auto 0 auto;
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // gap: 20px;
  display: none;
}

.title_one_row1 {
  position: relative;
  overflow: hidden;
  height: 300px;
}
.title_one_row1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.title_one_row1::after {
  content: "⭐";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  opacity: $opacity;
  pointer-events: none;
  z-index: 10;
}
.title_wide {
  // width: 90%;
  // max-width: 1200px;
  // margin: 30px auto 0 auto;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // gap: 20px;
  display: none;
}
.title_wide_row {
  position: relative;
  overflow: hidden;
  height: 300px;
}
.title_wide_row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.title_wide_row::after {
  content: "⭐";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  opacity: $opacity;
  pointer-events: none;
  z-index: 10;
}
.title_wide_one_row {
  // height: auto;
  // margin: 20px 50px auto 50px;
  // flex: 2 1 0;
  // display: flex;
  // flex-direction: column;
  // position: relative;
  display: none;
}
.title_one {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}
.title_one::after {
  content: "⭐";
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  opacity: $opacity;
  pointer-events: none;
  z-index: 10;
}
.transparent_bar1 {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $title_bar_color;
  opacity: $opacity_bar;
  z-index: 5;
  // font
  display: flex;
  align-items: center;
  justify-content: center;
}
.title_one img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.footer {
  width: 1200px;
}
.blank {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
}

@media (max-width: 1200px) and (min-width: 601px) {
  .topbar {
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .topbar2 {
    display: flex;
    justify-content: flex-end;
  }
  .item {
    margin-right: 35px;
  }
  .item4 {
    margin-right: 20px;
  }
  .imagebar {
    display: none;
  }
  .imagebar_2 {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto auto 35px auto;
  }

  .imagebar_3 {
    display: none;
  }

  .title_second {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  /*
  .title_one_row1 {
    position: relative;
    overflow: hidden;
    height: 300px;
  }
  .title_one_row1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .title_one_row1::after {
    content: "⭐";
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    opacity: $opacity;
    pointer-events: none;
    z-index: 10;
  }
  .title_wide {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .title_wide_row {
    position: relative;
    overflow: hidden;
    height: 300px;
  }
  .title_wide_row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .title_wide_row::after {
    content: "⭐";
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    opacity: $opacity;
    pointer-events: none;
    z-index: 10;
  }
  */
  .title {
    display: none;
  }
  /*
  .title {
    margin-top: 25px;
  }
  */
}
@media (max-width: 600px) and (min-width: 361px) {
  .topbar {
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .topbar2 {
    display: none;
  }
  .imagebar {
    display: none;
  }
  .imagebar_2 {
    display: none;
  }
  .imagebar_3 {
    display: block;
    width: 90%;
    margin: auto auto 35px auto;
  }
  .title {
    display: none;
  }
  .title_second {
    display: none;
  }
  .title_wide {
    display: none;
  }
  .title_wide_one_row {
    width: 90%;
    height: auto;
    margin: auto;
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
